################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/
/BMTest/bin/Debug/net6.0
/BMTest/obj
